{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock title %}

{% block body %}
<h1 align="center">Справочники</h1>
<div class="row justify-content-md-center">
<div class="col-md-auto">
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" href="refs/list/author" class="btn btn-outline-secondary" role="button">Авторов</a>
    <a type="button" href="refs/list/genre" class="btn btn-outline-secondary" role="button">Жанров</a>
    <a type="button" href="refs/list/currenсy" class="btn btn-outline-secondary" role="button">Валют</a>
</div>
</div>
</div>
{% endblock body %}

{% block footer %}

{% endblock footer %}
