<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список</title>
</head>
<body>
    <h1>Список {{ name }}</h1>
    <button><a href="/">Выбор справочника</a></button>
    <br>
    <br>
    <button><a href="/genre/create_g/">Добваить</a></button>
    <br>
    <br>
    {{ object_list.table }}
    <table>
        <thead><th>Id</th><th>Имя</th><th>Описание</th><th></th></thead>
        {% for obj in object_list %}
        <tr>
            <td><button><a href="/genre/update_g/{{obj.pk}}/">({{ obj.pk }}) Редактировать</a></button></td>
            <td><a href="/genre/detail_g/{{obj.pk}}/">{{ obj.name }}</a></td>
            <td>{{ obj.description }}</td>
            <td><button><a href="/genre/delete_g/{{obj.pk}}/">Удалить</a></button></td>
        </tr>
        {% endfor %}
    </table>
       
</body>
</html>