<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список</title>
</head>
<body>
    <h1>Список {{ name }}</h1>
    <button><a href=" /references/">Выбор справочника</a></button>
    <br>
    <br>
    <button><a href=" /create/?name={{name}}">Добваить</a></button>
    <br>
    <br>
    
    <table>
        <thead><th>Id</th><th>Имя</th><th>Описание</th><th></th></thead>
        {% for obj in objects %}
        <tr>
            <td><button><a href=" /update/{{obj.pk}}/?name={{name}}">({{ obj.pk }}) Редактировать</a></button></td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.description }}</td>
            <td><button><a href=" /delete/{{obj.pk}}/?name={{name}}">Удалить</a></button></td>
        </tr>
        {% endfor %}
    </table>
       
</body>
</html>