<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список справочников</title>
</head>
<body>
    
    <h1>Главная страница</h1>
    <button><a href=" /references/list/?name=author">Справочник авторов</a></button><br>
    <button><a href=" /references/list/?name=genre">Справочник жанров</a></button><br>
    <button><a href=" /references/list/?name=currenсy">Справочник валют</a></button>
                   
</body>
</html>